.post__container{
    display: flex;
    flex-direction: row;
}

.friendBox__container{
    display: flex;
    flex-direction: row;

    padding: 8px;
}

.friendBox__container:hover{
    background-color: #dbdbdb;
    cursor: pointer;
}

.navigation__container{
    display: flex;
    flex-direction: row;

    margin-right: 15px;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-left: 10px;
}

.post__userName{
    font-weight: bold;
}

.friendBox__userName{
    font-weight: bold;
}

.navigation__userName{
    font-weight: bold;
    color: white;
}

.post__profileImage{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.friendBox__profileImage{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.navigation__profileImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.date{
    color: #969696;
}